############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.vscode
nbproject/
node_modules/
bower_components/
premium/node_modules/
phpcs.xml
.phpcs.xml
phpunit.xml
phpunit-integration.xml
phpunit-wp.xml
.phpunit.result.cache
build/

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

############
## Misc
############

/bin/
/tmp/
/docs/
scripts/
*.tmp
*.bak
*.log
*.[Cc]ache
!.cache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes
.env
.svn
.wp-env.override.json
.tmp

############
## Composer
############
/vendor/
/vendor_prefixed/

############
# Dist files
############
/languages/
/js/vendor/*
/js/dist/*
/css/dist/*
/packages/*/dist
/blocks/**
yarn-error.log
coverage
dependencies.json
dependencies.md
.vscode
.idea/
.DS_Store

############
# Temp files
############
/.tmp
.cache/phpunit/cache/

############
# AI
############
/.claude/
/.pi/
AGENTS.md
CLAUDE.md
