<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"container mfvv-single","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main
    class="wp-block-group container mfvv-single"
    style="margin-top: var(--wp--preset--spacing--60)"
>
    <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
    <div
        class="wp-block-group alignwide"
        style="
            margin-top: var(--wp--preset--spacing--50);
            margin-bottom: var(--wp--preset--spacing--40);
        "
    >
        <!-- wp:pattern {"slug":"mfvv/vimeo-player"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
    <div
        class="wp-block-group"
        style="margin-bottom: var(--wp--preset--spacing--60)"
    >
        <!-- wp:post-title {"level":4, "className": "title-h4"} /-->
        <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
        <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
        <div
            class="wp-block-group"
            style="padding-top: var(--wp--preset--spacing--40)"
        >
            <div class="portfolio-top-panel-row filter-style-tabs-alternative">
                <div
                    class="portfolio-top-panel-left single"
                    data-filter-by="tax_mfvv_media_tag"
                >
                    <div class="portfolio-filters filter-by-mfvv_media_tag">
                        <!-- wp:post-terms {"term":"mfvv_media_tag","separator":"  ","className":"mfvv-meta-tags"} /-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:pattern {"slug":"mfvv/recommended-videos"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
